.outer-border {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 1rem;
    background: white;
}
.wrapped-datatable .slds-cell-wrap {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.button-header {
    background-color: #f3f2f2;
    border-bottom: 1px solid #d8dde6;
    border-radius: 0.25rem;
}

.button-header {
    position: sticky;
    top: 0;
    z-index: 1;
}